//------------------------------------------------------------------------------
// Base styles
//------------------------------------------------------------------------------

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: Verdana, sans;
}

#root{
    max-width: 800px;
    position: absolute;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 800px;
    border: 1px solid gray;
}
$input-height: 40px;
$input-width: 80px;

$members-panel-width: 200px;
//------------------------------------------------------------------------------
// Message thread
//------------------------------------------------------------------------------
.members{
    position: absolute;
    top: 60px;
    bottom: $input-height;
    right: 0px;
    padding: 10px;
    padding-left: 20px;
    overflow-y: scroll;
    width: $members-panel-width;
    background-color: #eee;
}

.rooms{
    position: absolute;
    top: 60px;
    bottom: $input-height;
    left: 0px;
    padding: 10px;
    padding-left: 20px;
    overflow-y: scroll;
    width: $members-panel-width;
    background-color: #eee;
}


.message-thread{
    position: absolute;
    top: 60px;
    left: $members-panel-width;
    bottom: $input-height;
    right: $members-panel-width;
    padding: 10px;
    padding-left: 20px;
    overflow-y: scroll;

}
//------------------------------------------------------------------------------
// Reply box
//------------------------------------------------------------------------------
.reply-box{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
}


.reply-box__input{
    height: $input-height;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: $input-width;
    font-size: 14px;
    padding-left: 10px;
    outline: 0px;
    &:focus{
        border: 1px solid #4A90E2;
    }
}

.reply-box__send{
    height: $input-height;
    width: $input-width;
    font-size: 14px;
    color: white;
    background-color: #4A90E2;
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    outline: 0px;

}
//------------------------------------------------------------------------------
// Messages
//------------------------------------------------------------------------------
.msg{
    margin-bottom: 10px;
}
.msg__header{
    color: gray;
    font-size: 0.9em;
}
//------------------------------------------------------------------------------
// Messages
//------------------------------------------------------------------------------
.member{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

//------------------------------------------------------------------------------
// Messages
//------------------------------------------------------------------------------
.room{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
